# Logs
*.log

# IDEs
.vscode/

# Dependency directories
node_modules

# ignore dist
dist/

# ignore package-lock.json as not part of published module and might cause break
package-lock.json

# MacOS
.DS_Store
# ignore directory for test results
test_results
tests
testConfigs
